

body {
    font-family: 'Andika New Basic', sans-serif;
    font-family: 'Krona One', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

p {
    font-family: 'Andika New Basic', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-family: 'Krona One', sans-serif;
}

h2 {
    font-family: 'Andika New Basic', sans-serif;
}

h3{
    font-family: 'Work Sans', sans-serif;
}

