body {
    font-family: 'Andika New Basic', sans-serif;
    font-family: 'Krona One', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


h1 {
    /* font-family: 'Work Sans', sans-serif; */
    /* font-weight: 800; */
    font-family: 'Krona One', sans-serif;
    font-weight: 900;
    font-size: 72px;
    /* font-stretch: extra-expanded; */
    /* font-family: 'Krona One', sans-serif; */
}

h2 {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}

h3 {
    font-family: 'Work Sans', sans-serif;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;

}


.element {
    margin: 5% 10%;
}

.subheading {
    margin: 5% auto;
}

/* specific elements */

.regular-backgroud {
    background-color: darkgray;
}

.parallax {
    /* The image used */
    background-image: url("images/background.jpg");
    opacity: 1;

    /* Set a specific height */
    min-height: 500px;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 35%;
    font-size: 72px;
    /* transform: translate(-50%, -50%); */
    color: white;
}

.hero-text-arrow {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    color: white;
    opacity: 1.0;
    font-size:  48px;
    /* opacity: 0%; */
 
}

ul.images {
    margin: 0;
    margin-bottom: 5%;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
    list-style-type: none;
    background-color: lightgrey;
    padding: 5px;
  }
  
  ul.images li {
    flex: 0 0 auto;
    width: 645px;
    height: 360px;
    margin: 5px;
  }



